<div class="container">
    <ng-container *ngIf="patientsInput$ | async as result" [ngSwitch]="result.dataState">
        <ng-container *ngSwitchCase="DataStateEnum.LOADING">
            Loading...
        </ng-container> 
        <ng-container *ngSwitchCase="DataStateEnum.ERROR">
           <div class="alert-danger">
                {{result.ErrorMessage}}
           </div>
        </ng-container>
        <ng-container *ngSwitchCase="DataStateEnum.LOADED">
            <table class="table">
                <tr> 
                    <th>N°</th><th>Nom</th><th>Prenom</th><th>Sexe</th><th>Age</th><th>Tour</th>
                </tr>
                <app-patient-item [patient]="p"                     
                    *ngFor="let p of result.data" style="display: contents;">
                </app-patient-item>

            </table>
        </ng-container> 
     
        <div class="container" *ngIf="patientsInput$">
    
    
        </div>      
    </ng-container>
    
</div>


