<tr *ngIf="patient">
    <td>{{patient.id}}</td>
    <td>{{patient.nom}}</td>
    <td>{{patient.prenom}}</td>
    <td>{{patient.sexe}}</td>
    <td>{{patient.age}}</td>
    <td>{{patient.tour}}</td>
    <td>
        <button class="btn btn-danger btn-sm" (click)="onDelete(patient)">
            <span class="fa fa-trash-o"></span>
        </button>
    </td>
    <td>
        <button class="btn btn-danger btn-sm" (click)="onEdite(patient)">
            <span class="fa fa-edit"></span>
        </button>
    </td>
    <td>
        <button class="btn btn-danger btn-sm" (click)="onServiPatient(patient)">
            Examen
        </button>
    </td>
    <td>
        <button  [ngClass]="patient.absent? 'text-danger':'text-Success'"   (click)="onAbsentPatient(patient)">
            Absent
        </button>
    </td>   
</tr>
